/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

button, h2{
  margin-left: 7px;
  font-size: 9px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
